<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleName</key>
        <string>Saver</string>
        <key>CFBundleDisplayName</key>
        <string>Saver</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
        <key>CFBundleAlternateIcons</key>
        <dict>
                <key>AppIconLight</key>
                <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                                <string>AppIconLight</string>
                        </array>
                        <key>UIPrerenderedIcon</key>
                        <false/>
                </dict>
        </dict>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>Saver сохраняет скачанные видео и фото в вашу Галерею</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>Saver сохраняет медиа в Галерею</string>
        <key>UIFileSharingEnabled</key>
        <true/>
        <key>LSSupportsOpeningDocumentsInPlace</key>
        <true/>
        <key>NSAppTransportSecurity</key>
        <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
        </dict>
        <key>UILaunchScreen</key>
        <dict>
                <key>UIColorName</key>
                <string></string>
                <key>UILaunchScreen</key>
                <dict/>
        </dict>
        <key>UIStatusBarStyle</key>
        <string>UIStatusBarStyleDefault</string>
</dict>
</plist>
